<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.college.dao.AttachmentMapper">
    <resultMap id="BaseResultMap" type="com.edu.college.pojo.Attachment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="achievement_id" jdbcType="INTEGER" property="achievementId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, achievement_id, url
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attachment
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from attachment
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="remove">
        delete
        from attachment
        where achievement_id = #{id}
    </delete>
    <insert id="insert" parameterType="com.edu.college.pojo.Attachment">
        insert into attachment (achievement_id, url)
        values (#{achievementId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.edu.college.pojo.Attachment">
        insert into attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="achievementId != null">
                achievement_id,
            </if>
            <if test="url != null">
                url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="achievementId != null">
                #{achievementId,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="insertList">
        insert into attachment(achievement_id, url) VALUES
        <foreach collection="list" item="a" separator=",">
            (
            #{a.achievementId},
            #{a.url}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.edu.college.pojo.Attachment">
        update attachment
        <set>
            <if test="achievementId != null">
                achievement_id = #{achievementId,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.edu.college.pojo.Attachment">
        update attachment
        set achievement_id = #{achievementId,jdbcType=INTEGER},
            url            = #{url,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>