<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.college.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="com.edu.college.pojo.Role">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from role
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="roles" resultType="com.edu.college.pojo.Group">
        select r.id,
        name
        from group_role gr
        join role r on gr.role_id = r.id
        <if test="groupId!= null">
            where group_id = #{groupId};
        </if>
    </select>
    <select id="getRoles" resultMap="BaseResultMap">
        select distinct r.id, name
        from user_group ug
                 join group_role gr on ug.group_id = gr.group_id
                 join role r on gr.role_id = r.id
        where user_id = #{id};
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from role
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByName">
        delete
        from `role`
        where name = #{name}
    </delete>
    <insert id="insert" parameterType="com.edu.college.pojo.Role">
        insert into role (name)
        values (#{name,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.edu.college.pojo.Role">
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.edu.college.pojo.Role">
        update role
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.edu.college.pojo.Role">
        update role
        set name = #{name,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="rename">
        update `role`
        set name = #{newName}
        where name = #{name}
    </update>
</mapper>